{% for item in items %}
<item>
    <title>{{item.title}}</title>
    <link>{{podcast_item_base_url}}/{{item.vid_id}}.m4a</link>
    <description>{{item.description}}</description>
    <pubDate>{{item.pub_date}}</pubDate>
    <itunes:title>{{item.title}}</itunes:title>
    <itunes:episodeType>full</itunes:episodeType>
    <itunes:episode>{{item.num}}</itunes:episode>
    <itunes:author>{{item.source.name}}</itunes:author>
    <itunes:subtitle>{{item.source.name}}</itunes:subtitle>
    <itunes:summary>{{item.description}}</itunes:summary>
    <itunes:image href="{{item.thumbnail}}"/>
    <content:encoded>
    <![CDATA[<p>{{item.description}}</p>]]>
    </content:encoded>
    <itunes:duration>{{item.duration}}</itunes:duration>
    <itunes:explicit>no</itunes:explicit>
    <guid isPermaLink="false"><![CDATA[{{item.num}}]]></guid>
    <enclosure url="{{podcast_item_base_url}}/{{item.vid_id}}.m4a" length="0" type="audio/mpeg"/>
</item>

{% endfor %}